<div id="content" class="container">
  <div class="row">
    <div class="col-md-12">
		<div class="page-header" style="margin-top: 70px;">
			<h1>Register Form</h1>
		</div>
		<p>Username:</p>
		<div>
			<input type="text" ng-model="userName" size="80">
		</div>
		</br>
		<div>
		<p>Password:</p>
		<div>
			<input type="password" ng-model="userPassword" size="80">
		</div>
		</br>
		<div>
			<p>Email:</p>
		<div>
			<input type="text" ng-model="userEmail" size="80">
		</div>
		<div style="margin-top: 15px">
			<button ng-click="sendUser()">Register!</button>
		</div>
        <div class="etc-login-form">
				<p>already have an account? <a href="/#/login">login here</a></p>
		</div>
		<div style="margin-top: 15px"><span ng-show="showApiCall"><p>API call: <a href="{{apiResponse.apiCall}}" target="_blank">{{apiResponse.apiCall}}</a></p></span></div>
		<span style="color: {{showApiResponseColor}}" ng-show="showApiResponse">
		<p>API response: {{coreMsg}}</p>
		</span>
		<h5 ng-show="showLoading" class="label btn-success">Loading... </h5>	
	</div>
  </div>
</div>
